extends layouts/default

block content
  include includes/header.pug
  include includes/slideshow.pug
  include includes/features.pug
  include includes/team.pug
  include includes/variants.pug
  include includes/gallery.pug
  include includes/footer.pug