.container#about
	.row
		.col-md-4.col-xs-12.col-sm-6
			.card.text-white.bg-dark.mb-3.feature-card.border-0
				img(src="../images/recycledorig.jpg" alt="100% recycled" srcset="../images/recycledorig.jpg 1x, ../images/recycled@2x.jpg 2x, ../images/recycled@3x.jpg 3x").card-img
				.card-img-overlay
					h4.card-title.text-center 100% Recycled
					p.card-text
						| Each bottles journey form the dumpster to our workshop proves its own authenticity. A keen eye may notice minute nicks and cuts that add character to your glassware that are otherwise invisible.
		.col-md-8.col-xs-12.col-sm-6
			.card.text-white.bg-dark.mb-3.feature-card.border-0
				img(src="../images/finishorig.jpg" alt="flawless finish" srcset="../images/finishorig.jpg 1x, ../images/finish@2x.jpg 2x, ../images/finish@3x.jpg 3x").card-img
				.card-img-overlay
					h4.card-title.text-center flawless signature finish
					p.card-text
						| Our relentless passion reflects in smooth rounded edges perfected to a  shine. With our specialised  in-house technique and masterful craftsmanship each product features our flawless signature finish.
		.col-md-8.col-xs-12.col-sm-6
			.card.text-white.bg-dark.mb-3.feature-card.border-0
				img(src="../images/arrayorig.jpg" alt="Array of products" srcset="../images/arrayorig.jpg 1x, ../images/array@2x.jpg 2x, ../images/array@3x.jpg 3x").card-img
				.card-img-overlay
					h4.card-title.text-center array of product ranges
					p.card-text
						| From Glasses to Planters to Lightings and more exquisite home decor products. With an urge to create and a simple glass bottle, the possibilities are endless.
		.col-md-4.col-xs-12.col-sm-6
			.card.text-white.bg-dark.mb-3.feature-card.border-0
				img(src="../images/noheatorig.jpg" alt="no heat method to cut the glass" srcset="../images/noheatorig.jpg 1x, ../images/noheat@2x.jpg 2x, ../images/noheat@3x.jpg 3x").card-img
				.card-img-overlay
					h4.card-title.text-center No Heat Method
					p.card-text
						| Transforming each bottle without augmenting its shape requires little to no heat and thus allows us to conserve energy and maintain a low carbon footprint.
		.col-md-4.col-xs-12.col-sm-6
			.card.text-white.bg-dark.mb-3.feature-card.border-0
				img(src="../images/contributeorig.jpg" alt="contribute glasses" srcset="../images/contributeorig.jpg 1x, ../images/contribute@2x.jpg 2x, ../images/contribute@3x.jpg 3x").card-img
				.card-img-overlay
					h4.card-title.text-center Your contribution counts
					p.card-text
						| As a start-up and an ecological initiative our conscious efforts divert only a part of waste produced in this country. But, our ideology strives to build a community that shares a common goal towards a much cleaner and healthier environment.
		.col-md-8.col-xs-12.col-sm-6
			.card.text-white.bg-dark.mb-3.feature-card.border-0
				img(src="../images/customiseorig.jpg" alt="customise your glassware" srcset="../images/customiseorig.jpg 1x, ../images/customise@2x.jpg 2x, ../images/customise@3x.jpg 3x").card-img
				.card-img-overlay
					h4.card-title.text-center customise your glassware
					p.card-text
						| A perfect gift  for a birthday or anniversary, your glassware can symbolise fondest memories of an auspicious occasion or a loved one. Customisation is our forte and its our pleasure to to cater to you