nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.footer
	.container
		.row(style="width: 100%")
			.col.text-white
				ul.navbar-nav
					li.nav-item
						a.nav-link(href='#')
							i.fa.fa-facebook.fa-2
					li.nav-item
						a.nav-link(href='#')
							i.fa.fa-instagram.fa-2
					li.nav-item
						a.nav-link(href='#')
							i.fa.fa-pinterest.fa-2
			.col-xs-12.col-md-8.text-center.text-white
				span.align-middle.d-block
					| &copy; 2017 Meso Design LLP
			.col.text-right
				a(href="#").align-middle.d-block
					| Terms &amp; Conditions