nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.footer
	.container
		.row(style="width: 100%")
			.col-xs-12.col-md-4.text-white.align-middle
				span.d-block
					| &copy; 2017 Meso Design LLP
				address
					strong BOTL Upcycled Glassware
					br
					|     House no.3/26A, Muddawaddo
					br
					|     Saligao, Bardez, Goa-403511
			.col-xs-12.col-md-4.text-white
				ul.list-inline.text-white.text-center
					li.list-inline-item
						a.nav-link(href='#')
							i.fa.fa-facebook.fa-2
					li.list-inline-item
						a.nav-link(href='#')
							i.fa.fa-instagram.fa-2
					li.list-inline-item
						a.nav-link(href='//in.pinterest.com/BOTLUpcycledGlassware/pins/')
							i.fa.fa-pinterest.fa-2
					li.list-inline-item
						a.nav-link(href='#')
							Terms
			.col-xs-12.col-md-4.align-middle.text-white
				address.text-right
					abbr(title='Phone') P:
					|  +91 8689800046 &nbsp;&nbsp;
					abbr(title='Email') E:
					|  message[at]botl.in