.w-100
.jumbotron.text-center.gallery
	p.lead
		a.btn.btn-primary.btn-lg(href='#', role='button') Gallery
.container
	.row.text-center
		.col
			h2 Clients
		.w-100
		.col
			img.img-fluid(alt='only' srcset='../images/clients/only.svg')
		.col
			img.img-fluid(alt='club mahindra' srcset='../images/clients/mahindra.svg')
		.col
			img.img-fluid(alt='indian motorcycles' srcset='../images/clients/indianmotor.svg')
	.row.text-center
		.col
			img.img-fluid(alt='wri' srcset='../images/clients/wri.svg')
		.col
			img.img-fluid(alt='wri' srcset='../images/clients/ottersclub.svg')
		.col
			img.img-fluid(alt='wri' srcset='../images/clients/broaster.svg')
.jumbotron.text-center.connect
	h2.display-4 Connect With Us
	p.lead
		a.btn.btn-primary.btn-lg(href='#', role='button') Shop
		a.btn.btn-primary.btn-lg(href='#', role='button') Customise