.w-100
.jumbotron.text-center.gallery
	p.lead
		a.btn.btn-primary.btn-lg(href='#', role='button') Gallery
.container
	.row
		.col.text-center
			h2.Clienst
		.w-100
		.col
		.col
		.col
	.row
		.col
		.col
		.col
.jumbotron.text-center.connect
	h2.display-4 Connect With Us
	p.lead
		a.btn.btn-primary.btn-lg(href='#', role='button') Shop
		a.btn.btn-primary.btn-lg(href='#', role='button') Customise