nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.top-nav
  a.navbar-brand(href='#')
    img.d-none.d-sm-inline-block.align-top(src='../images/logobig.svg', width='140', height='60', alt='')
    img.d-sm-none.align-top.visible-sm-up(src='../images/logosmall.svg', width='30', height='30', alt='')
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link(href='#about') About 
      li.nav-item
        a.nav-link(href='#products') Products
      li.nav-item
        a.nav-link(href='//in.pinterest.com/BOTLUpcycledGlassware/pins/', target='_blank') Gallery
      li.nav-item
        a.nav-link(href='#connect') Contact