.jumbotron.text-center.main
  h1 India's Finest Upcycled Glassware
  h2 Handcrafted from glass bottles
  p.lead
    a.btn.btn-primary.btn-lg(href='//www.facebook.com/pg/BOTL.Goa/shop/', role='button', target='_blank') Shop Now