.jumbotron.text-center.main
  h1 India's Finest Upcycled Glassware
  h2 Handcrafted from glass bottles
  p.lead
    a.btn.btn-primary.btn-lg(href='//btlupcycledglassware2.kraftly.com/search?sort=trending', role='button', target='_blank') Shop