.jumbotron#team
	.container
		.row
			.col
				h2.text-uppercase.text-center The Team
				blockquote.blockquote.text-center
					p.mb-0
						| Everything created is designed to end up in the landfill, so I thought, ‘why not reverse the process and turn something from the trash into something beautiful and put it to good use.'
					footer.blockquote-footer
						| Mikhail Solanki
						cite(title='Source Title') Founder &amp; CEO
				hr
			.w-100
			.col-xs-12.col-md-6.text-center
				img.rounded.mx-auto.d-block(src='images/mikhail@2x.jpg' srcset='images/mikhail.jpg 1x, images/mikhail@2x.jpg 2x, images/mikhail@3x.jpg 3x')
				h4 Mikhail Solanki
				p.lead
					| An inspired Industrial Designer excelling with Class A Honours from University of Hertfordshire UK, Mikhail Solanki, unleashed a passion for quality and innovation by creating BÔTL in January 2015 and single handedly ranked in the business of up-cycled glassware. His diligence in craftsmanship proves his determined will to make a difference in today’s environmental challenges by moving towards a more sustainable future.
				br.d-xs-block
				br.d-xs-block
			.col-xs-12.col-md-6.text-center
				img.rounded.mx-auto.d-block(src='images/rhea@2x.jpg' srcset='images/rhea.jpg 1x, images/rhea@2x.jpg 2x, images/rhea@3x.jpg 3x')
				h4 Rhea K
				p.lead
					| As BOTL’s leading artist with a B.F.A from Academy of Art University, Rhea contributes a unique combination of detail oriented intricasy and an experienced clientele professionalism that paves the way for BOTL’s true vision.