.container
  .row
    .col
      .card-group
        .card.product-card
          .card-body
            h4.card-title Glasses
          img.card-img-bottom(alt='glasses' srcset='../images/range/glassesorig.jpg 1x, ../images/range/glasses@2x.jpg 2x, ../images/range/glasses@3x.jpg 3x')
        .card.product-card
          .card-body
            h4.card-title Planters
          img.card-img-bottom(alt='planters' srcset='../images/range/plantersorig.jpg 1x, ../images/range/planters@2x.jpg 2x, ../images/range/planters@3x.jpg 3x')
        .card.product-card
          .card-body
            h4.card-title Lighting
          img.card-img-bottom(alt='lighting' srcset='../images/range/lightingorig.jpg 1x, ../images/range/lighting@2x.jpg 2x, ../images/range/lighting@3x.jpg 3x')
