.container
  .row
    .col
      .card-group
        .card
          .card-body
            h4.card-title Glasses
          img.card-img-bottom(src='...', alt='Card image cap')
        .card
          .card-body
            h4.card-title Planters
          img.card-img-bottom(src='...', alt='Card image cap')
        .card
          .card-body
            h4.card-title Lighting
          img.card-img-bottom(src='...', alt='Card image cap')
